<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="custom-card-body">
                <ngb-tabset>
                    <ngb-tab title="Input">
                        <ng-template ngbTabContent>
                            <div class="row">
                                <div class="col-lg-12">
                                    <select class="form-control" [(ngModel)] = "sdService.inputDepFile">
                                        <option value="" disabled selected>Select</option>
                                        <option *ngFor="let i of sdService.inputFileDD['deployment']" [value]="i">{{i}}</option>
                                    </select>
                                    <ace-editor [text]="sdService.files[sdService.inputDepFile]" mode="text" style="height:370px;"></ace-editor>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Console" [disabled]="sdService.deploymentStatus===''">
                        <ng-template ngbTabContent>
                            <div class="row">
                                <div class="col-lg-12">
                                    <ace-editor [text]="sdService.consoleOutput['deployment']" mode="text" style="margin-top: 15px; height:370px;"></ace-editor>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Output" [disabled]="!(sdService.deploymentStatus==='success')">
                        <ng-template ngbTabContent>
                            <div class="row">
                                <div class="col-lg-12">
                                    <select class="form-control" [(ngModel)] = "sdService.outputDepFile">
                                        <option value="" disabled selected>Select</option>
                                        <option *ngFor="let i of sdService.outputFileDD['deployment']" [value]="i">{{i}}</option>
                                    </select>
                                    <ace-editor [text]="sdService.files[sdService.outputDepFile]" mode="text" style="height:370px;"></ace-editor>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Visualization" [disabled]="!(sdService.deploymentStatus==='success')" >
                        <ng-template ngbTabContent>
                                    <img [src]="sdService.images['deployment_network']" style="height:330px; display: block;
                                     margin-left: auto;
                                     margin-right: auto"/>
                            <span style="background-color: red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <span>&nbsp;&nbsp; Pi3B &nbsp;&nbsp;</span>
                            <span style="background-color: magenta">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <span>&nbsp;&nbsp; Pi3B+ &nbsp;&nbsp;</span>
                            <span style="background-color: yellow">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <span>&nbsp;&nbsp; TX1 &nbsp;&nbsp;</span>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>
