<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-bars"></i>&nbsp;
        <span>{{ 'Collapse' | translate }}</span>
    </div>
    <div class="list-group">
        <a routerLink="/setup" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-cogs"></i>&nbsp;
            <span>{{ 'Setup' | translate }}</span>
        </a>
        <!--<div class="nested-menu">-->
            <!--<a class="list-group-item" (click)="addExpandClass('pages')">-->
                <!--<i class="fa fa-cogs"></i>&nbsp;-->
                <!--<span>{{ 'Setup' | translate }}</span>-->
            <!--</a>-->
            <!--<li class="nested" [class.expand]="showMenu === 'pages'">-->
                <!--<ul class="submenu">-->
                    <!--<li>-->
                        <!--<a [routerLink]="['/infrastructure']" [routerLinkActive]="['router-link-active']" >-->
                            <!--<i class="fa fa-monument"></i>&nbsp;-->
                            <!--<span>{{ 'Infrastructure' | translate }}</span>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
        <!--</div>-->
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;
            <span>{{ 'Tables' | translate }}</span>
        </a>
        <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
        </div>
    </div>
</nav>
