<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="custom-card-body">
                <ngb-tabset>
                    <ngb-tab title="Input">
                        <ng-template ngbTabContent>
                            <div class="row">
                                <div class="col-lg-6">
                                    <br>
                                    <ngb-tabset type="pills">
                                        <ngb-tab title="Device Types" style="margin-top: 5px">
                                            <ng-template ngbTabContent>
                                                <br>
                                                <table class="table table-bordered" style="font-size: 1em">
                                                    <thead style="text-align: center">
                                                    <tr>
                                                        <th>Device</th>
                                                        <th>Cores</th>
                                                        <th>Coremark</th>
                                                        <th>Memory (MB)</th>
                                                        <th>Disk (MB)</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr *ngFor="let j of sdService.summaryPartitionInput['dvt'] | keyvalue">
                                                        <td>{{j.key}}</td>
                                                        <td style="text-align: right">{{j.value['core_count']}}</td>
                                                        <td style="text-align: right">{{j.value['coremark']}}</td>
                                                        <td style="text-align: right">{{j.value['memory_mb']}}</td>
                                                        <td style="text-align: right">{{j.value['disk_mb']}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </ng-template>
                                        </ngb-tab>
                                        <ngb-tab title="VM Types" style="margin-top: 5px">
                                            <ng-template ngbTabContent>
                                                <br>
                                                <table class="table table-bordered" style="font-size: 1em">
                                                    <thead style="text-align: center">
                                                    <tr>
                                                        <th>VM</th>
                                                        <th>Cores</th>
                                                        <th>Coremark</th>
                                                        <th>Memory (MB)</th>
                                                        <th>Disk (MB)</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr *ngFor="let j of sdService.summaryPartitionInput['vmt'] | keyvalue"
                                                    [attr.bgcolor]="sdService.summaryPartitionInput['used'][j.key]===1?'#fdff2b': None">
                                                        <td>{{j.key}}</td>
                                                        <td  style="text-align: right">{{j.value['core_count']}}</td>
                                                        <td  style="text-align: right">{{j.value['coremark']}}</td>
                                                        <td  style="text-align: right">{{j.value['memory_mb']}}</td>
                                                        <td  style="text-align: right">{{j.value['disk_mb']}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </ng-template>
                                        </ngb-tab>
                                    </ngb-tabset>
                                </div>
                                <div class="col-lg-6">
                                    <select class="form-control" [(ngModel)] = "sdService.inputPartitionFile">
                                        <option value="" disabled selected>Select</option>
                                        <option *ngFor="let i of sdService.inputFileDD['partition']" [value]="i">{{i}}</option>
                                    </select>
                                    <ace-editor [text]="sdService.files[sdService.inputPartitionFile]" mode="text" style="height:370px;"></ace-editor>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab >
                    <ngb-tab title="Console" [disabled]="sdService.partitionStatus===''">
                        <ng-template ngbTabContent>
                            <div class="row">
                                <div class="col-lg-12">
                                    <ace-editor [text]="sdService.consoleOutput['partition']" mode="text" style="margin-top: 15px; height:370px;"></ace-editor>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Output" [disabled]="!(sdService.partitionStatus==='success')">
                        <ng-template ngbTabContent>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card mb-3" style="margin-top: 5px; height: 370px;">
                                        <div class="card-header">
                                            Summary
                                        </div>
                                        <div class="card-body table-responsive" style="font-size: 1em">
                                            <table class="table table-bordered table-sm">
                                                <thead style="text-align: center">
                                                <tr>
                                                    <th>VM Container</th>
                                                    <th>Device Count</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let j of sdService.summaryPartitionOutput['cnt'] | keyvalue">
                                                    <td>{{j.value['name']}}</td>
                                                    <td  style="text-align: right">{{j.value['cnt']}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <select class="form-control" [(ngModel)] = "sdService.outputPartitionFile">
                                        <option value="" disabled selected>Select</option>
                                        <option *ngFor="let i of sdService.outputFileDD['partition']" [value]="i">{{i}}</option>
                                    </select>
                                    <ace-editor [text]="sdService.files[sdService.outputPartitionFile]" mode="text" style="height:370px;"></ace-editor>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Visualization" [disabled]="!(sdService.partitionStatus==='success')">
                        <ng-template ngbTabContent>
                            <div class="row" *ngIf="sdService.images['partition_coremark']" style="text-align: center">
                                <div class="col-lg-4">
                                    <span>Coremark</span>
                                    <img [src]="sdService.images['partition_coremark']" style="height:330px; max-width: 100%"/>
                                </div>
                                <div class="col-lg-4">
                                    <span>Memory</span>
                                    <img [src]="sdService.images['partition_memory']" style="height:330px; max-width: 100%"/>
                                </div>
                                <div class="col-lg-4">
                                    <span>Disk</span>
                                    <img [src]="sdService.images['partition_disk']" style="height:330px; max-width: 100%"/>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>
