<div>
    <h2 class="page-header">
        Basic Setup - D25
    </h2>
    <!--<app-page-header [heading]="''" [icon]="'fa-edit'"></app-page-header>-->
    <div class="row">
        <div class="col-lg-3">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <div class="card-title">
                        <span style="cursor:pointer; color:#007bff;" (click)="currentView='infra'">Generate Infra Config</span>
                    </div>
                    <div class="card-text">
                        <span
                            *ngIf="generateInfraStatus==='success' || generateInfraStatus==='failure' ||generateInfraStatus==='running'">
                            &nbsp; &nbsp; <i class="fa fa-2x fa-check" style="opacity: 0; vertical-align: middle"></i>
                        </span>
                        <button type="submit" class="btn btn-primary"
                                [disabled]="generateInfraStatus==='running'"
                                (click)="generateInfra()">
                            Run
                        </button>
                        <span *ngIf="generateInfraStatus==='success'">&nbsp; &nbsp; <i class="fa fa-2x fa-check"
                                                                                       style="vertical-align: middle"></i></span>
                        <span *ngIf="generateInfraStatus==='failure'">&nbsp; &nbsp; <i class="fa fa-2x fa-times"
                                                                                       style="vertical-align: middle"></i></span>
                        <span *ngIf="generateInfraStatus==='running'">&nbsp; &nbsp; <i class="fa fa-2x fa-spinner"
                                                                                       style="vertical-align: middle"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <div class="card-title">
                        <span *ngIf="generateInfraStatus==='success'" style="cursor:pointer; color:#007bff;"  (click)="currentView='partition'">Partition</span>
                        <span *ngIf="!(generateInfraStatus==='success')">Partition</span>
                    </div>
                    <div class="card-text">
                        <span
                            *ngIf="partitionStatus==='success' || partitionStatus==='failure' || partitionStatus==='running'">
                            &nbsp; &nbsp; <i class="fa fa-2x fa-check" style="opacity: 0; vertical-align: middle"></i>
                        </span>
                        <button type="submit" class="btn btn-primary"
                                [disabled]="generateInfraStatus != 'success' || partitionStatus==='running'"
                                (click)="generateMetisInput()">
                            Run
                        </button>
                        <span *ngIf="partitionStatus==='success'">&nbsp; &nbsp; <i class="fa fa-2x fa-check"
                                                                                       style="vertical-align: middle"></i></span>
                        <span *ngIf="partitionStatus==='failure'">&nbsp; &nbsp; <i class="fa fa-2x fa-times"
                                                                                       style="vertical-align: middle"></i></span>
                        <span *ngIf="partitionStatus==='running'">&nbsp; &nbsp; <i class="fa fa-2x fa-spinner"
                                                                                       style="vertical-align: middle"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <div class="card-title">
                        <span *ngIf="(partitionStatus==='success')" style="cursor:pointer; color:#007bff;"  (click)="currentView='deployment'">Deploy</span>
                        <span *ngIf="!(partitionStatus==='success')">Deploy</span>
                    </div>
                    <div class="card-text">
                        <span
                            *ngIf="deploymentStatus==='success' || deploymentStatus==='failure' || deploymentStatus==='running'">
                            &nbsp; &nbsp; <i class="fa fa-2x fa-check" style="opacity: 0; vertical-align: middle"></i>
                        </span>
                        <button type="submit" class="btn btn-primary"
                                [disabled]="partitionStatus != 'success' || deploymentStatus==='running'"
                                (click)="startDocker()">
                            Run
                        </button>
                        <span *ngIf="deploymentStatus==='success'">&nbsp; &nbsp; <i class="fa fa-2x fa-check"
                                                                                       style="vertical-align: middle"></i></span>
                        <span *ngIf="deploymentStatus==='failure'">&nbsp; &nbsp; <i class="fa fa-2x fa-times"
                                                                                       style="vertical-align: middle"></i></span>
                        <span *ngIf="deploymentStatus==='running'">&nbsp; &nbsp; <i class="fa fa-2x fa-spinner"
                                                                                       style="vertical-align: middle"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <div class="card-title">
                        <span  *ngIf="(deploymentStatus==='success')" style="cursor:pointer; color:#007bff;"  (click)="currentView='sanity'">Micro Benchmark</span>
                        <span *ngIf="!(deploymentStatus==='success')">Micro Benchmark</span>
                    </div>
                    <div class="card-text">
                        <span
                            *ngIf="sanityStatus==='success' || sanityStatus==='failure' || sanityStatus==='running'">
                            &nbsp; &nbsp; <i class="fa fa-2x fa-check" style="opacity: 0; vertical-align: middle"></i>
                        </span>
                        <select class="form-inline" style="display: inline" [(ngModel)] = "sanitySelection">
                            <option value="CPU">CPU</option>
                            <option value="N/W">N/W</option>
                            <option value="App">Pub/Sub</option>
                        </select>                        &nbsp; &nbsp;
                        <button type="submit" class="btn btn-primary"
                                [disabled]="deploymentStatus != 'success' || sanityStatus==='running'"
                                (click)="sanityRun()">
                            Run
                        </button>
                        <span *ngIf="sanityStatus==='success'">&nbsp; &nbsp; <i class="fa fa-2x fa-check"
                                                                                       style="vertical-align: middle"></i></span>
                        <span *ngIf="sanityStatus==='failure'">&nbsp; &nbsp; <i class="fa fa-2x fa-times"
                                                                                       style="vertical-align: middle"></i></span>
                        <span *ngIf="sanityStatus==='running'">&nbsp; &nbsp; <i class="fa fa-2x fa-spinner"
                                                                                       style="vertical-align: middle"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-setup-infra *ngIf="currentView==='infra'"></app-setup-infra>
    <app-setup-partition *ngIf="currentView==='partition'"></app-setup-partition>
    <app-setup-deployment *ngIf="currentView==='deployment'"></app-setup-deployment>
    <app-setup-sanity *ngIf="currentView==='sanity'"></app-setup-sanity>
</div>
