<div>
    <app-page-header [heading]="'Setup'" [icon]="'fa-edit'"></app-page-header>
    <div class="row">
        <div class="col-lg-3">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <div class="card-title">
                        Generate Config
                    </div>
                    <div class="card-text">
                        <span
                            *ngIf="generateInfraStatus==='success' || generateInfraStatus==='failure' ||generateInfraStatus==='running'">
                            &nbsp; &nbsp; <i class="fa fa-2x fa-check" style="opacity: 0; vertical-align: middle"></i>
                        </span>
                        <button type="submit" class="btn btn-primary"
                                [disabled]="generateInfraStatus==='running'"
                                (click)="generateInfra()">
                            Run
                        </button>
                        <span *ngIf="generateInfraStatus==='success'">&nbsp; &nbsp; <i class="fa fa-2x fa-check"
                                                                                       style="vertical-align: middle"></i></span>
                        <span *ngIf="generateInfraStatus==='failure'">&nbsp; &nbsp; <i class="fa fa-2x fa-times"
                                                                                       style="vertical-align: middle"></i></span>
                        <span *ngIf="generateInfraStatus==='running'">&nbsp; &nbsp; <i class="fa fa-2x fa-spinner"
                                                                                       style="vertical-align: middle"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <div class="card-title">
                        Partition
                    </div>
                    <div class="card-text">
                        <span
                            *ngIf="generateInfraStatus==='success' || generateInfraStatus==='failure' ||generateInfraStatus==='running'">
                            &nbsp; &nbsp; <i class="fa fa-2x fa-check" style="opacity: 0; vertical-align: middle"></i>
                        </span>
                        <button type="submit" class="btn btn-primary"
                                [disabled]="generateInfraStatus==='running'"
                                (click)="generateInfra()">
                            Run
                        </button>
                        <span *ngIf="generateInfraStatus==='success'">&nbsp; &nbsp; <i class="fa fa-2x fa-check"
                                                                                       style="vertical-align: middle"></i></span>
                        <span *ngIf="generateInfraStatus==='failure'">&nbsp; &nbsp; <i class="fa fa-2x fa-times"
                                                                                       style="vertical-align: middle"></i></span>
                        <span *ngIf="generateInfraStatus==='running'">&nbsp; &nbsp; <i class="fa fa-2x fa-spinner"
                                                                                       style="vertical-align: middle"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <div class="card-title">
                        Deployment
                    </div>
                    <div class="card-text">
                        <span
                            *ngIf="generateInfraStatus==='success' || generateInfraStatus==='failure' ||generateInfraStatus==='running'">
                            &nbsp; &nbsp; <i class="fa fa-2x fa-check" style="opacity: 0; vertical-align: middle"></i>
                        </span>
                        <button type="submit" class="btn btn-primary"
                                [disabled]="generateInfraStatus==='running'"
                                (click)="generateInfra()">
                            Run
                        </button>
                        <span *ngIf="generateInfraStatus==='success'">&nbsp; &nbsp; <i class="fa fa-2x fa-check"
                                                                                       style="vertical-align: middle"></i></span>
                        <span *ngIf="generateInfraStatus==='failure'">&nbsp; &nbsp; <i class="fa fa-2x fa-times"
                                                                                       style="vertical-align: middle"></i></span>
                        <span *ngIf="generateInfraStatus==='running'">&nbsp; &nbsp; <i class="fa fa-2x fa-spinner"
                                                                                       style="vertical-align: middle"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <div class="card-title">
                        Sanity
                    </div>
                    <div class="card-text">
                        <span
                            *ngIf="generateInfraStatus==='success' || generateInfraStatus==='failure' ||generateInfraStatus==='running'">
                            &nbsp; &nbsp; <i class="fa fa-2x fa-check" style="opacity: 0; vertical-align: middle"></i>
                        </span>
                        <select class="form-inline" style="display: inline">
                            <option>N/W</option>
                            <option>CPU</option>
                            <option>App</option>
                        </select>
                        &nbsp; &nbsp;
                        <button type="submit" class="btn btn-primary"
                                [disabled]="generateInfraStatus==='running'"
                                (click)="generateInfra()">
                            Run
                        </button>
                        <span *ngIf="generateInfraStatus==='success'">&nbsp; &nbsp; <i class="fa fa-2x fa-check"
                                                                                       style="vertical-align: middle"></i></span>
                        <span *ngIf="generateInfraStatus==='failure'">&nbsp; &nbsp; <i class="fa fa-2x fa-times"
                                                                                       style="vertical-align: middle"></i></span>
                        <span *ngIf="generateInfraStatus==='running'">&nbsp; &nbsp; <i class="fa fa-2x fa-spinner"
                                                                                       style="vertical-align: middle"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <ngb-tabset>
                        <ngb-tab title="Info">
                            <ng-template ngbTabContent>
                                <p>Sample Text</p>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="JSON Files">
                            <ng-template ngbTabContent>
                                <p>Sample Text</p>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Visualization">
                            <ng-template ngbTabContent>
                                <p>Sample Text</p>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
